$white: #ffffff;
$grey-lighten-5: #fafafa;
$grey-lighten-4: #f5f5f5;
$grey-lighten-3: #eeeeee;
$light-grey: #cccccc;
$grey: #696969;
$black: #000000;
$green: #2b995b;
$green-lighten-1: rgb(75, 183, 141);
$yellow: #f5c932;
$pink: #fc686f;
$orange: #ff934c;